.main--dark-theme {
  background-color: var(--dark-theme-bg-color);
  color: #fff;
  width: 100%;
  margin-left: 200px;
}

.main--light-theme {
  background-color: var(--light-theme-bg-color);
  color: #000;
  width: 100%;
  margin-left: 200px;
}

@media only screen and (max-width: 768px) {
  .main--dark-theme {
    height: calc(100vh - 70px);
    margin: 0;
  }

  .main--light-theme {
    height: calc(100vh - 70px);
    margin: 0;
  }
}
