.stocks-container {
  grid-row: 2;
  grid-column: 1 / span 30;
  margin: 40px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.stock-item {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 245px;
  height: 350px;
  margin: 3rem;
  color: var(--light-color);
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  align-items: center;
  border-radius: 0.7rem;
}

.stock-item-info {
  display: flex;
  flex-direction: column;
  grid-row: 1;
  grid-column: 1 / span 10;
}

.stock-item-ticker {
  font-size: 2.2rem;
  font-weight: bold;
}

.stock-item-name {
  font-size: 1.3rem;
}

.stock-item-realtime {
  grid-row: 2;
  grid-column: 1 / span 10;
}

.stock-item-avgPrice {
  grid-row: 3;
  grid-column: 1 / span 10;
}

.stock-item-quantity {
  grid-row: 4;
  grid-column: 1 / span 10;
}

.stock-item-todayGain {
  grid-row: 5;
  grid-column: 1 / span 10;
}

.stock-item-totalGain {
  grid-row: 6;
  grid-column: 1 / span 10;
}

.gain-positive {
  background-color: #429672;
}

.gain-negative {
  background-color: #cc2435;
}

.gain-zero {
  background-color: #63676b;
}
