.portfolios-container {
  display: flex;
  flex-direction: column;
  width: 87vw;
  max-width: 1100px;
  margin: 0 auto 70px;
  padding: 6rem 0;
}

.btn-new-portfolio {
  margin: 0 auto 30px;
  max-width: 300px;
  width: 90%;
  transition: all 100ms ease;
  color: var(--white-color);
  background-color: #1dc956;
  border-bottom: 3px solid #2f8e4e;
  -webkit-box-shadow: inset 0 -3px #2f8e4e;
  box-shadow: inset 0 -3px #2f8e4e;
}

.btn-new-portfolio:hover {
  background-color: var(--dark-green-color);
}

.portfolio-item {
  margin: 2rem 1rem;
  padding: 1rem;
  border-radius: 0.4rem;
  font-size: 1.6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 2px 3px 2px 3px var(--darkgray-color);
}

.portfolio-name {
  grid-row: 1;
  grid-column: 1 / span 14;
  max-height: 50px;
  text-align: center;
  overflow: hidden;
}

.portfolio-item:hover {
  background-color: var(--lightgray-color);
}

.portfolio-item-actions {
  width: 55%;
  max-width: 475px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn-portfolio-edit {
  grid-row: 1;
  grid-column: 17 / span 3;
  width: 75px;
  max-height: 40px;
  transition: all 100ms ease;
  color: var(--white-color);
  background-color: #f8803b;
  border-bottom: 3px solid var(--dark-orange-color);
  -webkit-box-shadow: inset 0 -3px var(--dark-orange-color);
  box-shadow: inset 0 -3px var(--dark-orange-color);
}

.btn-portfolio-edit:hover {
  background-color: var(--dark-orange-color);
}

.btn-portfolio-delete {
  grid-row: 1;
  grid-column: 21 / span 4;
  width: 95px;
  max-height: 40px;
  transition: all 100ms ease;
  color: var(--white-color);
  background: #fc1529;
  border-bottom: 3px solid var(--dark-red-color);
  -webkit-box-shadow: inset 0 -3px var(--dark-red-color);
  box-shadow: inset 0 -3px var(--dark-red-color);
}

.btn-portfolio-delete:hover {
  background-color: var(--dark-red-color);
}

.select-notice {
  grid-row: 1;
  grid-column: 26 / span 4;
  font-weight: 800;
  font-size: 1.5rem;
  cursor: pointer;
}

.selected-portfolio {
  color: var(--highlight-color);
}

.not-selected-portfolio {
  color: var(--darkgray-color);
}

.no-portfolio-notice {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 0 0 0;
  color: var(--primary-color);
}

.portfolio-form {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  font-size: 1.5rem;
  align-items: center;
  margin: 20px 0 0 0;
}

.portfolio-form-field {
  grid-row: 1;
  grid-column: 10 / span 14;
  padding: 7px;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  transition: all 100ms ease;
  background-color: var(--white-color);
}

.portfolio-form-field:focus {
  box-shadow: 0 0 0 3px var(--highlight-color);
}

.portfolio-form-label {
  grid-row: 1;
  grid-column: 1 / span 9;
}

.portfolio-form-btn {
  grid-row: 1;
  grid-column: 25 / span 6;
  transition: all 100ms ease;
}

.pf-add-btn {
  color: var(--white-color);
  background-color: #1dc956;
  border-bottom: 3px solid #2f8e4e;
  -webkit-box-shadow: inset 0 -3px #2f8e4e;
  box-shadow: inset 0 -3px #2f8e4e;
}

.pf-add-btn:hover {
  background-color: var(--dark-green-color);
}

.pf-edit-btn {
  background-color: var(--orange-color);
  color: var(--white-color);
}

.pf-edit-btn:hover {
  background-color: var(--dark-orange-color);
}

.notice-pf-name-error {
  color: var(--danger-color);
  margin: 5px 0 0 0;
  grid-row: 2;
  grid-column: 10 / span 13;
}

@media only screen and (max-width: 768px) {
  .portfolio-item {
    flex-direction: column;
  }

  .portfolio-item-actions {
    margin-top: 20px;
    width: 100%;
    max-width: 450px;
  }
}

@media only screen and (max-width: 576px) {
  .portfolios-container {
    width: 100vw;
  }

  .portfolio-item {
    padding: 0.6rem;
    font-size: 1.5rem;
  }

  .btn-portfolio-edit {
    font-size: 1.1rem !important;
    width: 60px;
  }

  .btn-portfolio-delete {
    font-size: 1.1rem !important;
    width: 80px;
  }

  .select-notice {
    font-size: 1.3rem;
  }
}
