.position-details {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  margin-bottom: 70px;
}

.position-header {
  display: flex;
  justify-content: center;
  padding: 4rem 0 1.5rem 0;
  grid-row: 1;
  grid-column: 1 / span 30;
  font-size: 3rem;
}

.position-header > span:first-child {
  color: var(--highlight-color);
  margin: 0 1.5rem 0 0;
}

.position-header > span:last-child {
  margin: 0 1rem 0 0;
}

.btn-company-info {
  display: inline-block;
  width: 200px;
  margin: 0 auto;
  grid-row: 2;
  grid-column: 1 / span 30;
  color: #fff;
  background-color: #6292b6;
  border-bottom: 3px solid #14588b;
  -webkit-box-shadow: inset 0 -3px #14588b;
  box-shadow: inset 0 -3px #14588b;
}

.btn-company-info:hover {
  background-color: #14588b;
}

.btn-close-position {
  display: inline-block;
  width: 200px;
  margin: 20px auto 0;
  grid-row: 3;
  grid-column: 1 / span 30;
  color: #fff;
  background: #fc1529;
  border-bottom: 3px solid var(--dark-red-color);
  -webkit-box-shadow: inset 0 -3px var(--dark-red-color);
  box-shadow: inset 0 -3px var(--dark-red-color);
}

.btn-close-position:hover {
  background-color: var(--dark-red-color);
}

.stock-group-container {
  grid-row: 4;
  grid-column: 1 / span 30;
  display: flex;
  flex-direction: column;
  width: 83vw;
  max-width: 1000px;
  margin: 0 auto;
  padding: 4rem 0;
}

.stock-group-header {
  margin: 2rem 1rem;
  padding: 1rem;
  border: 3px solid var(--highlight-color);
  color: var(--highlight-color);
  border-radius: 0.4rem;
  font-size: 1.8rem;
  font-weight: 700;
  display: grid;
  grid-template-columns: repeat(30, 1fr);
  align-items: center;

  text-align: center;
}

.stock-group-header-price {
  grid-row: 1;
  grid-column: 2 / span 4;
}

.stock-group-header-quantity {
  grid-row: 1;
  grid-column: 8 / span 5;
}

.stock-group-header-type {
  grid-row: 1;
  grid-column: 17 / span 4;
}

.stock-group-header-date {
  grid-row: 1;
  grid-column: 22 / span 9;
}

.stock-group-items {
  overflow-y: auto;
  max-height: 580px;
  padding: 0 1rem;
}

.stock-group-item {
  margin: 4rem 0;
  padding: 1.2rem;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  display: grid;
  background-color: #fff;
  box-shadow: 3px 3px 2px 2px var(--darkgray-color);
  grid-template-columns: repeat(30, 1fr);
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.stock-group-item:hover {
  background-color: var(--lightgray-color);
}

.stock-group-price {
  grid-row: 1;
  grid-column: 2 / span 4;
  font-weight: 700;
}

.stock-group-quantity {
  grid-row: 1;
  grid-column: 8 / span 5;
}

.stock-group-type {
  grid-row: 1;
  grid-column: 17 / span 4;
}

.stock-group-date {
  grid-row: 1;
  grid-column: 22 / span 9;
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .position-header {
    text-align: center;
    flex-direction: column;
  }

  .stock-group-container {
    width: 90vw;
  }

  .stock-group-header {
    font-size: 1.5rem;
  }

  .stock-group-item {
    font-size: 1.3rem;
  }

  .stock-group-items {
    max-height: 450px;
  }
}

@media only screen and (max-width: 425px) {
  .position-header {
    text-align: center;
    flex-direction: column;
  }

  .stock-group-container {
    width: 90vw;
  }
  .stock-group-header {
    font-size: 1.3rem;
  }
  .stock-group-item {
    font-size: 1.1rem;
  }

  .stock-group-header-price {
    grid-column: 1 / span 4;
  }

  .stock-group-header-quantity {
    grid-row: 1;
    grid-column: 7 / span 8;
  }

  .stock-group-header-type {
    grid-column: 17 / span 5;
  }

  .stock-group-price {
    grid-column: 1 / span 4;
  }

  .stock-group-quantity {
    grid-column: 9 / span 4;
  }

  .stock-group-type {
    grid-column: 17 / span 4;
  }

  .stock-group-items {
    max-height: 350px;
  }
}
