.main-container {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
}

.portfolio-list-container {
  grid-row: 1;
  grid-column: 3 / span 5;
  margin: 40px 0 0 0;
}

.portfolio-list-container > select {
  width: 220px;
}

.add-stock-cash-container {
  display: flex;
  justify-content: flex-start;
  grid-row: 1;
  grid-column: 24 / span 7;
  margin: 40px 0 0;
}

.btn-open-add-stock-modal {
  background-color: var(--orange-color);
  color: var(--white-color);
  margin: 0 15px 0 0;
}

.btn-open-add-cash-modal {
  background-color: var(--orange-color);
  color: var(--white-color);
  margin: 0 15px 0 0;
}
