.main-container {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
}

.portfolio-actions {
  grid-row: 1;
  grid-column: 3 / span 26;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1700px;
}

.portfolio-list-container {
  margin: 40px 0 0 0;
}

.portfolio-list-container > select {
  width: 220px;
}

.add-buttons-container {
  display: flex;
  justify-content: center;
  margin: 40px 0 0;
}

.btn-open-add-stock-modal {
  background-color: var(--orange-color);
  color: var(--white-color);
  margin: 0 15px 0 0;
}

.btn-open-add-cash-modal {
  background-color: var(--orange-color);
  color: var(--white-color);
  margin: 0 15px 0 0;
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .portfolio-actions {
    grid-column: 2 / span 28;
  }
}

@media only screen and (max-width: 576px) {
  .portfolio-actions {
    flex-direction: column;
  }

  .add-buttons-container {
    margin: 40px 0 0 16px;
  }
}
