.main-container {
  display: grid;
  grid-template-columns: repeat(30, 1fr);
}

.portfolio-actions {
  grid-row: 1;
  grid-column: 8 / span 16;
  display: flex;
  max-width: 1700px;
  margin: 50px auto;
}

.portfolio-actions > button {
  display: block;
}

.portfolio-list-container {
  max-height: 350px;
  margin: 20px 10px;
  padding: 30px;
  overflow-y: scroll;
  border: 2px solid var(--highlight-color);
  border-radius: 0.5rem;
}

.portfolio-list-item {
  border: 2px solid var(--highlight-color);
  padding: 10px;
  border-radius: 0.5rem;
  font-size: 1.7rem;
  cursor: pointer;
}

.portfolio-list-item:not(:first-child) {
  margin: 45px 0;
}

.portfolio-list-item:last-child {
  margin: 45px 0 0 0;
}

.portfolio-list-item:hover {
  background-color: var(--primary-color);
}

.btn-open-select-portfolio-modal {
  background-color: var(--orange-color);
  color: var(--white-color);
  margin: 0 20px 0 0;
}

.btn-open-add-position-modal {
  background-color: var(--orange-color);
  color: var(--white-color);
  margin: 0 20px 0 0;
}

.btn-open-add-position-modal:hover {
  background-color: var(--dark-orange-color);
}

.btn-open-add-cash-modal {
  background-color: var(--orange-color);
  color: var(--white-color);
  margin: 0 15px 0 0;
}

.btn-open-add-cash-modal:hover {
  background-color: var(--dark-orange-color);
}

.add-position-form {
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  margin: 10px 0 0 0;
}

.ticker-container {
  position: relative;
}

.transaction-type-container {
  margin: 5px 0 10px 0;
}

.transaction-type-container > label:nth-child(1) {
  margin: 0 30px 0 0;
}

.transaction-type-container > label > input[type='radio'] {
  margin: 0 0 0 4px;
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.3); /* Chrome, Safari, Opera */
  transform: scale(1.3);
}

.add-position-inputs {
  margin: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-position-field {
  font-size: 1.6rem;
  padding: 8px;
  margin: 0 10px 0 0;
  width: 70%;
  border: none;
  outline: none;
  border-radius: 0.4rem;
  transition: all 100ms ease;
  background-color: var(--white-color);
}

.add-position-field:focus {
  box-shadow: 0 0 0 3px var(--highlight-color);
}

.add-position-field:disabled {
  background-color: var(--darkgray-color);
  color: var(--dark-color);
  font-size: 1.4rem;
}

.add-position-date-field {
  margin: 0 10px 0 0;
  padding: 4px;
  font-size: 1.6rem;
  cursor: pointer;
}

.btn-add-position {
  margin: 15px 0 0 0;
  background-color: var(--orange-color);
  color: var(--white-color);
}

.btn-add-position:hover {
  background-color: var(--dark-orange-color);
}

.notice-empty-stocklist {
  grid-row: 2;
  grid-column: 1 / span 30;
  font-size: 2.7rem;
  text-align: center;
}

.notice-empty-portfoliolist {
  padding: 70px 0 0 0;
  grid-row: 1;
  grid-column: 1 / span 30;
  font-size: 2.7rem;
  text-align: center;
}

.daily-pl-container {
  grid-row: 2;
  grid-column: 1 / span 30;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 700;
  padding: 8px;
}

.overall-pl-container {
  grid-row: 3;
  grid-column: 1 / span 30;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 700;
  padding: 8px;
}

.overall-value-container {
  grid-row: 4;
  grid-column: 1 / span 30;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  font-weight: 700;
  padding: 8px;
}

.pl-positive {
  color: #2ead76;
}

.pl-negative {
  color: #da1f31;
}

.pl-zero {
  color: #9e9e9e;
}

.mainpage-pl-spinner {
  grid-row: 2 / span 2;
  grid-column: 1 / span 30;
  margin: 0 auto;
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .portfolio-actions {
    grid-column: 2 / span 28;
  }

  .daily-pl-container {
    font-size: 2rem;
  }

  .overall-pl-container {
    font-size: 2rem;
  }

  .overall-value-container {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 576px) {
  .portfolio-actions {
    flex-direction: column;
  }

  .daily-pl-container {
    font-size: 1.7rem;
  }

  .overall-pl-container {
    font-size: 1.7rem;
  }

  .overall-value-container {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 425px) {
  .add-position-form {
    font-size: 1.5rem;
  }

  .add-position-field {
    width: 60%;
  }

  .add-position-date-field {
    width: 60%;
  }

  .daily-pl-container {
    font-size: 1.4rem;
  }

  .overall-pl-container {
    font-size: 1.4rem;
  }

  .overall-value-container {
    font-size: 1.4rem;
  }
}
