.modal-background {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 10% auto;
  padding: 55px 25px;
  width: 60vw;
  max-width: 800px;
}

.modal-content-bg-dark {
  background-color: var(--dark-theme-bg-color);
  border: 1px solid var(--darkgray-color);
}

.modal-content-bg-light {
  background-color: var(--light-theme-bg-color);
  border: 1px solid var(--light-dark-color);
}

.close-modal-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.close-modal-btn:hover {
  color: var(--highlight-color);
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .modal-content {
    margin: 16% auto;
    padding: 48px 25px;
    width: 80vw;
  }

  .close-modal-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 27px;
    height: 27px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 425px) {
  .modal-content {
    margin: 23% auto;
    padding: 48px 15px;
    width: 86vw;
  }

  .close-modal-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
