.navbar {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.5rem;
  height: 8vh;
}

.navbar--dark-theme {
  background-color: var(--dark-theme-nav-bg-color);
  color: var(--light-color);
}

.navbar--light-theme {
  background-color: var(--light-theme-nav-bg-color);
  color: var(--dark-color);
}

.navbar-signup {
  position: absolute;
  right: 170px;
}

.navbar-signup:hover {
  color: var(--highlight-color);
}

.navbar-login {
  position: absolute;
  right: 70px;
}

.navbar-login:hover {
  color: var(--highlight-color);
}

.main-logo {
  margin: 2px 0 10px 5px;
  cursor: pointer;
}

.navbar-bars-icon {
  position: absolute;
  right: 50px;
  width: 30px;
  height: 30px;
  display: none;
}

.navbar-sidebar {
  position: absolute;
  right: 0px;
  top: 68px;
  width: 120px;
  height: 100vh;
  z-index: 99;
  animation: showSidebar;
  animation-duration: 500ms;
  font-size: 1.3rem;
  font-weight: 500;
}

@keyframes showSidebar {
  from {
    width: 0;
  }

  to {
    width: 120px;
  }
}

@keyframes closeSidebar {
  from {
    width: 120px;
  }

  to {
    width: 0;
  }
}

.sidebar--dark-theme {
  background-color: var(--dark-theme-nav-bg-color);
  color: var(--light-color);
}

.sidebar--light-theme {
  background-color: var(--light-theme-nav-bg-color);
  color: var(--dark-color);
}

.sidebar-content {
  text-align: center;
  padding: 20px 10px;
  border-bottom: 1px solid;
}

@media only screen and (max-width: 768px) {
  .navbar-signup {
    display: none;
  }

  .navbar-login {
    display: none;
  }

  .navbar-bars-icon {
    display: block;
  }
}
