.navbar {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.5rem;
  height: 8vh;
}

.navbar--dark-theme {
  background-color: var(--dark-theme-nav-bg-color);
  color: var(--light-color);
}

.navbar--light-theme {
  background-color: var(--light-theme-nav-bg-color);
  color: var(--dark-color);
}

.navbar-signup {
  position: absolute;
  right: 170px;
}

.navbar-signup:hover {
  color: var(--highlight-color);
}

.navbar-login {
  position: absolute;
  right: 70px;
}

.navbar-login:hover {
  color: var(--highlight-color);
}

.main-logo {
  margin: 2px 0 10px 5px;
  cursor: pointer;
}

.navbar-bars-icon {
  position: absolute;
  right: 50px;
  width: 30px;
  height: 30px;
  display: none;
}

.navbar-sidebar {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 200px;
  height: 100vh;
  z-index: 99;
  animation: showSidebar;
  animation-duration: 500ms;
  font-size: 1.3rem;
  font-weight: 500;
}

@keyframes showSidebar {
  from {
    width: 0;
  }

  to {
    width: 200px;
  }
}

@keyframes closeSidebar {
  from {
    width: 200px;
  }

  to {
    width: 0;
  }
}

.sidebar--dark-theme {
  background-color: var(--dark-theme-nav-bg-color);
  color: var(--light-color);
}

.sidebar--light-theme {
  background-color: var(--light-theme-nav-bg-color);
  color: var(--dark-color);
}

.sidebar-close-btn-container {
  height: 60px;
  margin-top: 10px 0 0 0;
  padding-left: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid;
}

.sidebar-close-btn-container > .fa-times {
  height: 40px;
}

.sidebar-content {
  text-align: center;
  padding: 20px 10px;
  border-bottom: 1px solid;
  margin: 7px 0;
}

.navbar-logout {
  position: absolute;
  right: 100px;
  cursor: pointer;
}

.navbar-logout:hover {
  color: var(--highlight-color);
}

.navbar-avatar-event-wrapper {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 100px;
}

.navbar-user-avatar-container {
  background-color: var(--light-color);
  border-radius: 50%;
  max-width: 45px;
  max-height: 45px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.sidebar-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.avatar-image {
  max-width: 45px;
  max-height: 45px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
}

.navbar-profile-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 99;
  width: 220px;
  top: 68px;
  right: -8px;
  font-size: 1.4rem;
}

.navbar-profile-menu::before {
  position: absolute;
  top: -18px;
  right: 37px;
  display: inline-block;
  content: '';
  border: 9px solid transparent;
  border-bottom-color: var(--highlight-color);
}

.profile-menu-item {
  display: block;
  padding: 9px;
  transition: all 100ms ease;
  border-bottom: 1px solid;
}

.profile-menu-item:hover > span {
  color: var(--highlight-color);
}

.profile-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px 0 0 0;
}

.user-info-name {
  font-weight: 700;
  font-size: 1.4rem;
}

.user-info-email {
  margin-top: 5px;
  font-weight: 300;
  font-size: 1.1rem;
}

@media only screen and (max-width: 768px) {
  .navbar-signup {
    display: none;
  }

  .navbar-login {
    display: none;
  }

  .navbar-bars-icon {
    display: block;
  }

  .navbar-avatar-event-wrapper {
    display: none;
  }
}
